<h1 class="country js-country">{{name}}</h1>
<img class="country-flag js-country-flag" src="{{flag}}" alt="{{name}}">
<p class="capital js-capital"><b>Capital:</b>{{capital}}</p>
<p class="population js-population"><b>Population:</b>{{population}}</p>
<p class="languages js-languages">
    <b>Language:</b>
<ul class="languages-list js-languages-list">
    {{#each languages}}
    <li class="languages-item js-languages-item">{{name}}</li>
    {{/each}}
</ul>
</p>